@import 'node_modules/react-image-gallery/styles/scss/image-gallery.scss';
@import '../variables';

#back-button-falter {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
  color: $primary-color;
  transition: color .33s ease;
  cursor: pointer;

  &:hover {
    color: $primary-color-hover;
  }

  @media screen and (max-width: 1050px) {
    display: none;
  }
}

#falter-topbar {
  padding: 1.25rem 3rem;
  font-size: 1.25rem;
  text-align: center;
  
  a {
    text-decoration: none;
    font-weight: 700;
    color: $text-color-subdued;

    &:hover {
      color: $primary-color;
    }

    .fa-angle-left {
      margin-right: .75rem;
    }
  }
}

#title {
  margin-bottom: 0;
  text-align: center;

  @media screen and (max-width: 1050px) {
    font-size: 1.75rem;
  }
}

#subtitle {
  margin-top: .75rem;
  margin-bottom: 1.75rem;
  color: $text-color-subdued;
  text-align: center;
  font-weight: 400;
  font-style: italic;

  @media screen and (max-width: 1050px) {
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
}

#description {
  a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
