#family-title {
  text-align: center;
  margin-bottom: 3rem;

  @media screen and (max-width: 1050px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.75rem;
    z-index: 5;
    background: white;
  }
}
