@import '../variables';

#index-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 1rem 3rem;
  font-size: 1.75rem;
  text-align: center;
  background: $background-color;
  z-index: 2;
  
  @media screen and (min-width: 1050px) {
    display: none;
  }
}

#main {
  @media screen and (max-width: 1050px) {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  img {
    max-width: 100%;
  }

  #index-title {
    margin-bottom: 2rem;
    
    @media screen and (max-width: 1050px) {
      margin-top: 4rem;
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
    }
  }

  p {
    line-height: 1.6;
    font-size: 1.2rem;

    @media screen and (max-width: 1050px) {
      font-size: 1rem;
    }
  }

  footer {
    margin-top: 4rem;
    border-top: 1px #e9e9e9 solid;
    padding: 2rem;
    padding-bottom: 0;

    @media screen and (max-width: 1050px) {
      margin-top: 2.5rem;
      padding-bottom: 1rem;
    }
  }
}

#bottom-cta {
  margin: 0;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;

  
  @media screen and (min-width: 1050px) {
    display: none;
  }
}

#github-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}