@import '../../variables';

#sidebar-wrapper-inner {
  position: fixed;
  width: $sidebar-width;
  height: 100vh;
  background: $background-color-light;

  @media screen and (max-width: 1050px) {
    transition: left .33s ease;
    left: -$sidebar-width;
  }
}

#sidebar {
  padding: 2rem 3rem;
  font-family: 'Nunito', sans-serif;

  @media screen and (max-width: 1050px) {
    padding: 0 2.5rem;
    text-align: center;
  }

  h1 {
    margin-bottom: 2rem;
    
    @media screen and (max-width: 1050px) {
      font-size: 1.75rem;
      margin: 1rem 0;

    }
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      font-size: 1.5rem;
      padding: 1rem 0;
      border-bottom: 1px #e2e2e2 solid;
      
      &:last-child {
        border-bottom: none;
      }
      
      a {
        text-decoration: none;
        color: inherit;
      }

      &.active {
        color: $primary-color;
      }

      &:hover {
        color: $primary-color;
        cursor: pointer;
      }
    }
  }
}
