// colors
$primary-color: #e84b4b;
$primary-color-hover: #d34545;
$text-color: #333;
$text-color-subdued: #666;
$background-color: #fff;
$background-color-light: #f9f9f9;

// other
$sidebar-width: 300px;
